.image-container {
    height: 500px;
    width: 700px;
    margin: 30px;
}
 .image-size {
    width: 100%;
    margin: 30px;
 }
 .bounding-box{
     position: absolute;
     display: flex;
     flex-wrap:wrap;
     box-shadow: 0 0 0 3px lightseagreen inset;
     cursor: pointer;
     justify-content: center;
 }